"*":
  Hydrogen:
    kernelNotifications: true
    languageMappings: "{\"javascript\": \"babel es6 javascript\"}"
  Zen:
    gutter: true
    showWordCount: "Left"
    softWrap: true
    typewriter: true
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.46"
  _flutterAnalytics:
    clientId: "45ed1717-5db5-4a9c-bdb7-1dfce946d29b"
    optIn: true
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-beautify":
    general:
      _analyticsUserId: "3d2d69ba-1ec3-4deb-af6d-424692a5ea98"
    js:
      beautify_on_save: true
      break_chained_methods: true
      end_with_newline: true
      eval_code: true
  "atom-import-sort": {}
  "atom-package-deps":
    ignored: []
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippetsAndFunction: true
  "atomic-ui":
    colors:
      abaseColor: "#e13258"
      accentColor: "#321d80"
  "autocomplete-plus": {}
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-php"
      "atom-exploration"
      "stacktrace"
      "markdown-preview-enhanced"
      "language-markdown"
      "no-title-bar"
      "angularjs"
      "atom-react-autocomplete"
      "atom-import-sort"
      "atom-react-preview"
      "autocomplete-js-import"
      "pretty-json"
      "atom-bugs"
      "p5xjs-autocomplete"
      "xatom-debug"
      "language-gfm-enhanced"
      "language-gfm"
      "tree-view"
      "atom-beautify"
    ]
    followSymlinks: false
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  "dark-flat-ui":
    accentColor: "blue"
    coloredTabs: false
  dartlang:
    sdkLocation: "/Users/ada/projects/flutter/bin/cache/dart-sdk"
  "daylight-ui":
    layoutMode: "Compact"
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    per_section_indent: true
    short_primitives: true
  editor:
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "42a43341-90b1-673d-3ac7-3b7d9b900243"
  "file-icons":
    onChanges: true
    strategies: {}
  "file-types":
    ".zshrc": "source.dotfiles"
    "^.babelrc$": "source.json"
    "^.compilerc$": "source.json"
    "^.eslintrc$": "source.json"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "down"
    scrollToResultOnLiveSearch: true
  flutter:
    flutterRoot: "/Users/ada/projects/flutter"
  fonts:
    fontFamily: "FiraCode Light"
    preview: "The Quick brown fox { 0 !== \"O\" } "
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "glacier-dark-ui":
    layoutMode: "Compact"
  "hey-pane":
    expandedWidth: 70
  "isotope-ui":
    backgroundGradient: true
    customBackgroundColorPicker: "#4627be"
    fontFamily: "Fira Sans"
    fontWeight: "Extra light / Thin"
    lowContrastTooltip: true
    matchEditorFont: true
    minimalMode: true
  "language-babel":
    autoIndentJSX: true
  linter:
    disabledProviders: [
      "ESLint"
    ]
  "linter-eslint": {}
  "linter-less":
    ignoreUndefinedMixins: false
    ignoreUndefinedVariables: false
    includePath: [
      "./node_modules"
    ]
  "linter-ui-default":
    panelRepresents: "Current Line"
    showPanel: true
    showProviderName: true
    tooltipFollows: "Keyboard"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-preview-enhanced":
    enableTypographer: true
    pdfUseGithub: false
    useGitHubStyle: false
    useGitHubSyntaxTheme: false
  "nebula-ui": {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-flow":
      enablePushDiagnostics: true
      enableReferencesHighlight: true
  "one-dark-mini-ui":
    tabSizing: "Minimum"
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  "outlander-ui": {}
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    filetypesForColorWords: [
      "css"
      "less"
      "styl"
      "stylus"
      "sass"
      "scss"
      "sss"
    ]
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
    sourceNames: [
      "**/*.css"
      "**/*.styl"
      "**/*.stylus"
      "**/*.less"
      "**/*.sass"
      "**/*.scss"
      "**/*.sss"
    ]
  "prettier-atom":
    formatOnSave: true
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      jsxBracketSameLine: true
      semi: false
      singleQuote: true
      tabWidth: "2"
    useEslint: true
  "prettier-eslint": {}
  "pretty-json":
    prettifyOnSaveJSON: true
  "pristine-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "project-manager":
    includeGitRepositories: true
  "seti-ui":
    compactView: true
    displayIgnored: false
    fileIcons: false
    font: "Default Atom Font"
    hideTabs: true
  "slim-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  "status-bar":
    fullWidth: false
  swackets:
    colorParens: true
    colors: [
      "#4C566A"
      "#88C0D0"
      "#3B4252"
      "##3B4252"
    ]
  tabs:
    alwaysShowTabBar: false
    showIcons: false
  "tree-view":
    focusOnReveal: false
  welcome:
    showOnStartup: false
".css.postcss.source":
  editor:
    scrollPastEnd: true
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".js.jsx.source":
  editor:
    showIndentGuide: true
".json.source":
  editor:
    showIndentGuide: true
