"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  core:
    telemetryConsent: "limited"
    themes: [
      "nebula-ui"
      "nord-atom-syntax"
    ]
    useCustomTitleBar: true
  "exception-reporting":
    userId: "42a43341-90b1-673d-3ac7-3b7d9b900243"
  "file-types":
    ".zshrc": "source.dotfiles"
    "^..*rc$": "source.json"
  "language-babel":
    autoIndentJSX: true
  "nebula-ui": {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "pretty-json":
    prettifyOnSaveJSON: true
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    showIndentGuide: true
".json.source":
  editor:
    showIndentGuide: true
